.page {
  width: 100vw;
  background: #fafafa;
  height: 92vh;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.container {
  width: 35%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 4rem 4rem;
  line-height: 2;
  box-shadow: rgb(239, 239, 245) 1px 1px 1px 0px,
    -1px -1px 1px 0px rgb(239, 239, 245);
}

.container h3 {
  font-size: x-large;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input label {
  font-size: medium;
  color: #6b6d7c;
}

.input input {
  padding: 0 1rem;
  height: 2.5rem;
  border-radius: 5px;
  border: 1px solid rgb(226, 226, 233);
}

.input input:focus {
  outline-color: black;
}

.remember {
  margin: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.remember div label {
  font-size: small;
  margin-left: 0.5rem;
}

.forgot {
  color: #2cbbb7;
  font-size: small;
  float: right;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.signup {
  color: #2cbbb7;
  margin-left: 1rem;
}

.button {
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  padding: 25px auto;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  background-color: #2dbbb7;
  transition: all 0.3s;
  width: 24rem;
  height: 3rem;
}

.button:hover {
  background-color: #18ada8;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .page {
    padding: 0;
  }
  .container {
    width: 100%;
    padding: 5rem 20rem;
  }
}

@media (max-width: 850px) {
  .page {
    padding: 0;
  }
  .container {
    width: 100%;
    padding: 5rem 10rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 4rem 5rem;
  }
}

@media (max-width: 400px) {
  .container {
    width: 100%;
    padding: 2rem 2rem;
  }

  .button {
    width: 70vw;
  }
}
